html {
scroll-behavior: smooth;
}  
body{
text-align: center;
background: linear-gradient(#ddff00 0%,#66ff00 100%,#00ff73 100%);
}
ul li {
list-style: none;
float: left;
display: inline-block;
}
ul li a {
display: inline-block;  
text-decoration: none;
font-size: 30px;
font-family: calibri;
color: black;
padding: 0 10px;
}
a:hover {
background-color: transparent;
font-size: 40px;
color: black;
}
.menu {
position: fixed;
}   
h1{
	font-family: impact;
	font-size: 30px;
}
nav{
    background: #fcba03;
    background: linear-gradient(#00ffd0 0%,#00a6ff 100%);
}
